---
title: Irvingsmile

pageClassName: p-home
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		include components/homepage/_main
		include components/homepage/_holistic

		section(style='height: 200vh;')
