---
title: Irvingsmile

pageClassName: p-home
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		include components/homepage/_main
		include components/homepage/_holistic
		include components/homepage/_advantages
		include components/homepage/_welcome
		include components/homepage/_services
		include components/homepage/_promotions
