// FOOTER :: START

footer#footer.footer
	.c-grid-fluid

		.footer__wrapper.footer__wrapper-1
			.footer__wrapper-left

				a.footer__phone.c-title(href="tel:214-492-1171")
					i.icon-font.icon-phone-call
					span 214-492-1171

				.c-btn__wrapper
					a.c-btn.c-btn--blue(href="#")
						span VIRTUAL CONSULTATIONS

				.footer__link-wrapper
					a.footer__link(href="#")
						i.icon-font.icon-pin
						span 1425 N O'Connor Rd, Irving, TX 75061
					a.footer__link(href="mailto:info@irvingdentist.com")
						i.icon-font.icon-email
						span info@irvingdentist.com
					a.footer__link(href="#")
						span Smile Up Dentistry
					a.footer__link.footer__link--wline(href="#")
						i.icon-font.icon-facebook

			.footer__wrapper-right
				div

					p.footer__title.c-title Office Hours

					ul.footer__list
						li
							div
								p Monday
							div
								p 10 AM - 7 PM
						li
							div
								p Tuesday
							div
								p Closed
						li
							div
								p Wednesday
							div
								p 9 AM - 6 PM
						li
							div
								p Thursday
							div
								p Closed
						li
							div
								p Friday
							div
								p 8 AM - 1 PM
								p (Friday in between)
						li
							div
								p Saturday
							div
								p By appointment
						li
							div
								p Sunday
							div
								p Closed

				div
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1676.3027508440684!2d-96.95219403765282!3d32.82921619776182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e83107243f59d%3A0x514d1a21aa7296e6!2sProfessional%20Dental!5e0!3m2!1sen!2sua!4v1595154549640!5m2!1sen!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

		.footer__wrapper.footer__wrapper-2

			.copyright
				p.copyright__text!= "©2020 Professional dental | <a href='#'>Privacy Policy</a> | Web design, digital marketing and SEO by Adit"

// FOOTER :: END
