// HEADER :: START

header#header.header

	.c-grid-fluid

		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="#")
						img.logo__img.logo__img--desktop(src="img/logo.png" alt="")
						img.logo__img.logo__img--mobile(src="img/logo-small.png" alt="")

				+hamburger()

			.header__wrapper-right(mobile-block-js)
				div

					.header__info
						a.header__info-link(href="#")
							i.icon-font.icon-pin
							span 1425 N O'Connor Rd, Irving, TX 75061
						a.header__info-link(href="tel:214-492-1171")
							i.icon-font.icon-phone-call
							span 214-492-1171

				div

					nav.header__nav
						.header__nav-link-wrapper(header-nav-wr-js)
							a.header__nav-link(href="#")
								span Virtual Consultations
						.header__nav-link-wrapper(header-nav-wr-js)
							a.header__nav-link(href="#")
								span About
								i.icon-font.icon-arrow
							.header__nav-link-drop
								a(href="#") Meet Dr. Sonya Reddy
								a(href="#") Blog
								a(href="#") Contact
						.header__nav-link-wrapper(header-nav-wr-js)
							a.header__nav-link(href="#")
								span Patients
								i.icon-font.icon-arrow
							.header__nav-link-drop
								a(href="#") Smile Gallery
								a(href="#") Patient Forms
								a(href="#") FAQs
						.header__nav-link-wrapper(header-nav-wr-js)
							a.header__nav-link(href="#")
								span General
								i.icon-font.icon-arrow
							.header__nav-link-drop
								a(href="#") Airway Focused Dentistry and TMJ
								a(href="#") Biological Periodontal Therapy
								a(href="#") Children’s Dentistry
								a(href="#") HealthyStart
								a(href="#") Dental Emergencies
								a(href="#") Dental Anxiety
								a(href="#") General Dentistry
								a(href="#") Green Dentistry
								a(href="#") Laser Dentistry
								a(href="#") Ozone Therapy
								a(href="#") Sedation Dentistry
								a(href="#") Sleep Apnea Treatment
								a(href="#") Safe Mercury Removal
								a(href="#") Wisdom Teeth Extractions
						.header__nav-link-wrapper(header-nav-wr-js)
							a.header__nav-link(href="#")
								span Cosmetic
								i.icon-font.icon-arrow
							.header__nav-link-drop
								a(href="#") Dental Implants
								a(href="#") Same-Day CEREC Crowns
								a(href="#") Invisalign®
								a(href="#") Dentures
								a(href="#") Teeth Whitening
								a(href="#") Snap-On Smile
								a(href="#") Cosmetic Dentistry
								a(href="#") Six Month Smiles
								a(href="#") Dental Veneers
								a(href="#") Smile Makeovers
								a(href="#") Botox and PRP Fillers
						.c-btn__wrapper
							a.c-btn.c-btn--blue(href="#")
								span VIRTUAL CONSULTATIONS



// HEADER :: END
