// SECTION :: START

section#subheader.section
	.subheader__container

		.c-grid

			.subheader__wrapper

				a(href="#")!= "We're open, and safety is our first priority. <span>Learn more.</span>"

// SECTION :: END
