// SECTION :: START

#main {
	.main {
		&__wrapper {

		}
	}

	.swiper {
		&-container {
			height: 800px;
			@include adaptive(1365) {
				height: 700px;
			}
		}

		&-pagination {
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 15px;

			&-bullet {
				opacity: 1;
				width: 12px;
				height: 12px;
				margin-left: 7px !important;
				margin-right: 7px !important;
				background-color: #7bc143;
				@include transition(opacity, background-color);

				&:hover {
					opacity: 0.55;
					@include transition(opacity);
				}

				&-active {
					opacity: 1;
					background-color: #0546a4;
					@include transition(opacity, background-color);
				}
			}
		}

		&-slide {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			&:after {
				z-index: 0;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(55, 52, 49, 0.5);
			}

			&-content {
				z-index: 2;
				position: relative;
				width: 100%;
				max-width: 40%;
				padding-left: 15px;
				padding-right: 40px;
				@include adaptive(1365) {
					max-width: 45%;
				}

				h1,
				p {
					color: #ffffff;
				}

				h1 {
					padding-bottom: 10px;
					font-size: 35px;
					font-weight: 900;
				}

				p {
					padding-bottom: 20px;
					font-size: 25px;
				}
			}
		}
	}
}

// SECTION :: END
