// SECTION :: START

#services {
	padding-top: 75px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.services {
		&__wrapper {}

		&__title {
			padding-bottom: 50px;
		}
	}

	.swiper {
		&-slide {
			&-box {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				&:hover {
					p {
						color: #85c440;
						@include transition(color);
					}
				}

				p {
					padding-top: 20px;
					color: #137bbf;
					font-size: 20px;
					@include transition(color);
				}
			}
		}
	}
}

// SECTION :: END
