// SECTION :: START

#welcome {
	.welcome {
		&__wrapper {
			display: flex;
			@include adaptive(1023) {
				flex-wrap: wrap;
			}

			&-left,
			&-right {
				width: 50%;
				min-height: 100%;
				@include adaptive(1023) {
					width: 100%;
				}
			}

			&-left {
				display: flex;
				align-items: center;
				width: 100%;
				max-width: 585px;
				margin-left: auto;
				margin-right: auto;
				padding: 50px 15px;
				@include adaptive(1279) {
					max-width: 50%;
				}
				@include adaptive(1023) {
					order: 2;
					max-width: 100%;
				}
			}

			&-right {
				overflow: hidden;
				position: relative;
				@include adaptive(1023) {
					order: 1;
					height: 400px;
				}

				img {
					@extend %imageResCoverAbs;
				}
			}
		}

		&__title {
			padding-bottom: 50px;
			text-align: left;
		}

		&__subtitle {
			padding-bottom: 15px;
			font-weight: 700;
			font-size: 18px;
			@include adaptive(767) {
				font-size: 16px;
			}
		}

		&__desc {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.8;
			@include adaptive(767) {
				font-size: 16px;
			}

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}
		}
	}
}

// SECTION :: END
