// META TAGS
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
meta(http-equiv="x-ua-compatible" content="ie=edge")

// TITLE
title!= title

// FAVICON
meta(name="msapplication-TileImage" content="icon/favicon-icon.png")
link(rel="icon" href="icon/favicon-icon.png" sizes="32x32")
link(rel="icon" href="icon/favicon-icon.png" sizes="192x192")
link(rel="apple-touch-icon-precomposed" href="icon/favicon-icon.png")

//link(href='https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css')

include _style
