// BUTTON :: START

.c-btn {
  outline: none;
	cursor: pointer;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
	padding-left: 15px;
	padding-right: 15px;
  box-shadow: none;
	border: 1px solid transparent;
  border-radius: 0;
	background-color: transparent;
	@include transition(background-color);

	&__wrapper {
		display: flex;
		align-items: center;
	}

	span {
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		@include transition(color);
	}

	&--green {
		border-color: #7bc143;
		background-color: #7bc143;

		&:hover {
			background-color: #ffffff;
			@include transition(background-color);

			span {
				color: #7bc143;
				@include transition(color);
			}
		}
	}

	&--blue {
		border-color: #137bbf;
		background-color: #137bbf;

		&:hover {
			background-color: #ffffff;
			@include transition(background-color);

			span {
				color: #137bbf;
				@include transition(color);
			}
		}
	}
}

// BUTTON :: END
