// FOOTER :: START

.footer {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #7bc143;

	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;

		&-1 {
			padding-bottom: 50px;
		}

		&-2 {
			align-items: center;
			justify-content: center;
		}

		&-left {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 500px;
			padding-right: 15px;

			.c-btn__wrapper {
				padding-bottom: 30px;
			}
		}

		&-right {
			display: flex;
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			> div {
				&:nth-of-type(1) {
					width: 100%;
					max-width: 320px;
					padding-right: 15px;
				}

				&:nth-of-type(2) {
					display: flex;
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					height: 100%;

					iframe {
						position: relative;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		&:hover {
			.icon-font,
			span {
				color: #337ab7;
				@include transition(color);
			}
		}

		.icon-font,
		span {
			color: #fff;
			@include transition(color);
		}

		.icon-font {
			margin-right: 5px;
			font-size: 20px;
		}

		span {
			font-size: 25px;
			font-weight: 900;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;

		&--wline {
			&:before,
			&:after {
				display: none;
			}
		}

		&:hover {
			&:before,
			&:after {
				width: 50%;
				@include transition(width);
			}

			.icon-font,
			span {
				color: #337ab7;
				@include transition(color);
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			width: 0;
			height: 1px;
			background-color: #337ab7;
			@include transition(width);
		}

		&:before {
			left: 50%;
		}

		&:after {
			right: 50%;
		}

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.icon-font,
		span {
			color: #ffffff;
			font-size: 16px;
			@include transition(color);
		}

		.icon-font {
			margin-right: 5px;
		}

		span {
			font-weight: 600;
		}
	}

	&__title {
		padding-bottom: 30px;
		text-align: left;
		color: #ffffff;
	}

	&__list {
		display: flex;
		flex-direction: column;

		li {
			display: flex;

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}

			> div {
				&:nth-of-type(1) {
					width: 110px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			p {
				font-size: 16px;
				font-weight: 600;
				color: #fff;
			}
		}
	}
}

// FOOTER :: END
