// FOOTER :: START

.footer {
	padding-top: 75px;
	padding-bottom: 25px;
	background-color: #7bc143;

	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(1279) {
			flex-wrap: wrap;
		}

		&-1 {
			padding-bottom: 50px;
		}

		&-2 {
			align-items: center;
			justify-content: center;
		}

		&-left {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 500px;
			padding-right: 15px;
			@include adaptive(1365) {
				max-width: 400px;
			}
			@include adaptive(1279) {
				order: 2;
				max-width: 100%;
				padding-right: 0;
				align-items: center;
			}

			.c-btn__wrapper {
				padding-bottom: 30px;
			}
		}

		&-right {
			display: flex;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1279) {
				order: 1;
				padding-bottom: 30px;
			}
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				&:nth-of-type(1) {
					width: 100%;
					max-width: 320px;
					padding-right: 15px;
					@include adaptive(767) {
						max-width: 100%;
						padding-right: 0;
						padding-bottom: 50px;
					}
				}

				&:nth-of-type(2) {
					display: flex;
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					height: 100%;
					@include adaptive(767) {
						height: 400px;
					}

					iframe {
						position: relative;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		&:hover {
			.icon-font,
			span {
				color: #337ab7;
				@include transition(color);
			}
		}

		.icon-font,
		span {
			color: #fff;
			@include transition(color);
		}

		.icon-font {
			margin-right: 5px;
			font-size: 20px;
		}

		span {
			font-size: 25px;
			font-weight: 900;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;

		&--wline {
			&:before,
			&:after {
				display: none;
			}
		}

		&:hover {
			&:before,
			&:after {
				width: 50%;
				@include transition(width);
			}

			.icon-font,
			span {
				color: #337ab7;
				@include transition(color);
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			width: 0;
			height: 1px;
			background-color: #337ab7;
			@include transition(width);
		}

		&:before {
			left: 50%;
		}

		&:after {
			right: 50%;
		}

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include adaptive(1279) {
				align-items: center;
				text-align: center;
			}
		}

		.icon-font,
		span {
			color: #ffffff;
			font-size: 16px;
			@include transition(color);
		}

		.icon-font {
			margin-right: 5px;
		}

		span {
			font-weight: 600;
		}
	}

	&__title {
		padding-bottom: 30px;
		text-align: left;
		color: #ffffff;
		@include adaptive(767) {
			text-align: center;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		@include adaptive(767) {
			width: 270px;
			margin-left: auto;
			margin-right: auto;
		}

		li {
			display: flex;

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}

			> div {
				&:nth-of-type(1) {
					width: 110px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			p {
				font-size: 16px;
				font-weight: 600;
				color: #fff;
			}
		}
	}
}

// FOOTER :: END
