// SECTION :: START

#subheader {
	z-index: 1100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ff0000;

	& + #header {
		top: 40px;
		@include adaptive(767) {
			top: 60px;
		}
	}

	.subheader {
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			padding-top: 5px;
			padding-bottom: 5px;
			@include adaptive(767) {
				min-height: 60px;
			}

			a {
				position: relative;
				color: #fff;
				font-size: 16px;
				font-weight: 800;
				text-align: center;
				@include adaptive(767) {
					font-size: 14px;

					span {
						display: block;
					}
				}
			}
		}
	}
}

// SECTION :: END
