// SECTION :: START

section#advantages.section
	.advantages__conatiner

		.c-grid

			p.advantages__title.c-title Competitive Advantages

			.advantages__wrapper

				.advantages__box-wrapper
					div
						.advantages__box.advantages__box-1
							.advantages__box-head
								img(src="img/img-advantages-1.jpg" alt="")
							.advantages__box-body
								p.advantages__box-title SMART Certified Dentist
								p.advantages__box-desc Dr. Reddy is SMART certified which signifies that she has completed a program about removing dental mercury amalgam fillings.
					div
						.advantages__box.advantages__box-2
							.advantages__box-head
								img(src="img/img-advantages-2.jpg" alt="")
							.advantages__box-body
								p.advantages__box-title Modern Technology
								p.advantages__box-desc We use the latest dental equipment so that we can offer safe, efficient, and high-quality care.
					div
						.advantages__box.advantages__box-3
							.advantages__box-head
								img(src="img/img-advantages-3.jpg" alt="")
							.advantages__box-body
								p.advantages__box-title Multilingual Practice
								p.advantages__box-desc Our team can speak both English and Spanish for the convenience of our patients.
					div
						.advantages__box.advantages__box-4
							.advantages__box-head
								img(src="img/img-advantages-4.jpg" alt="")
							.advantages__box-body
								p.advantages__box-title Friendly Staff
								p.advantages__box-desc Visit our team at Professional Dental and discover the difference a great smile can make!

// SECTION :: END
