// SECTION :: START

section#holistic.section
	.holistic__conatiner

		.c-grid

			.holistic__wrapper
				div
					p.holistic__title.c-title Holistic & Functional Dentistry in Irving, TX
					p.holistic__desc Holistic & Functional Dentistry is a more gentle approach that allows dentists to improve overall health through excellent oral health. Dr. Reddy uses the least invasive treatment options possible with restorative materials that do not contain potential toxins while utilizing state-of-the-art technology. Our practice offers mercury-free restorations as an alternative to amalgam fillings. Amalgam is compound that contains small amounts of mercury. Due to concerns about mercury vapors, our practice uses materials like composite resin or porcelain to repair broken or diseased teeth. Dr. Reddy is SMART certified and is trained to remove harmful amalgam fillings. For patients seeking holistic options for relieving dental anxiety, Professional Dental offers CBD oil. Give us a call to learn more.

// SECTION :: END
