// SECTION :: START

section#welcome.section
	.welcome__conatiner

			.welcome__wrapper
				.welcome__wrapper-left
					div
						p.welcome__title.c-title Welcome to Professional Dental in Irving, Texas
						p.welcome__subtitle Let Us Give You a Healthy, Beautiful Smile!

						.welcome__desc-wrapper
							p.welcome__desc At Professional Dental in Irving, TX, we provide compassionate, experienced oral healthcare for families and business professionals. For our Irving, Grand Prairie, and Coppell patients, we can renew your oral health, restore your damaged teeth, and recreate the beauty of your smile.
							p.welcome__desc If you don’t like revealing your teeth because they’re yellowed, missing, or chipped, let Dr. Sonya Reddy and her experienced, friendly team at Professional Dental give you a whiter, straighter, healthier smile! Your comfort is our priority at Professional Dental. At every appointment, you can expect friendly service and state-of-the-art treatment rooms.

				.welcome__wrapper-right
					img(src="img/img-welcome.jpg" alt="")

// SECTION :: END
